<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  
    <h1>Keeping Track in the DG</h1>
    <h1>Watch the garden grow</h1>
    <p>Exploring Astro for Digital Garden and go to landing space for innkeeping.</p>
  </body>